# dataset
/babyslakh_16k
/minibabyslakh

# MacOS ds file
.DS_Store

# env
/env

# python cache
.pyc

# notebook checkpoints
/.ipynb_checkpoints

# dataset stuff
/data
/modules/data

*.cpython
*.pyc

*.idea

# models
*.pt

# wavs
*.wav
